[Unit]
Description=Load Nix SELinux policy module
ConditionSecurity=selinux
ConditionPathExists=/usr/share/selinux/packages/nix.pp
DefaultDependencies=no
After=local-fs.target selinux-policy-targeted.service
Before=nix-mount.service

[Service]
Type=oneshot
ExecCondition=/bin/bash -c 'expected=$(< /usr/share/nix/selinux-cil.sha256); installed=$(semodule -l -m | grep "^nix " | cut -d: -f2); [ "$expected" != "$installed" ]'
ExecStart=/usr/sbin/semodule -i /usr/share/selinux/packages/nix.pp
RemainAfterExit=yes

[Install]
WantedBy=sysinit.target
